@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@layer base {
   
    body {
        @apply font-[Raleway];
    }
    
    .navbar li {
        @apply px-4;
        @apply cursor-pointer
    }

    .switcher select {
        width: 40px;
        height: 19px;
        color: theme('colors.theme-dark-200');
        font-weight: bold;
        font-size: 14px;
      }

 .home {
    background-image: url(assets/img/bg-image-24.jpg)!important;
 }

 section#home:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: theme('colors.theme-dark-200');
    opacity: 0.8;
}

 .fixed {
    z-index: 10;
}

 .about, .work, .contact, .project {
    position: relative;
    z-index: 2;
}

.project {
    width: 1000px;
}

.project-content {
    height: calc(100% - 100px);
}

.siteImage {
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgb(0 0 0 / 8%);
}

.langueItem {
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: theme('colors.theme-light-200');
    color: theme('colors.theme-dark-200');
    border: 1px solid theme('colors.theme-dark-200');
}

.langueItem:hover {
    background: theme('colors.theme-dark-200');
    color: theme('colors.theme-light-200');
    border: 1px solid theme('colors.theme-light-200');
}

@media (max-width: 1024px) {
    .project-content {
        height: 100%;
    }

    .siteImage {
        overflow: hidden;
        border-radius: 0rem;
        box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgb(0 0 0 / 13%);
    }
}


@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

.animHome {
    padding: 10px;
}
    
.circle {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    opacity: 0.3;

    width: 100px;
    height: 100px;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(219 39 119);
    font-weight: 600;
    color: rgb(219 39 119);
}

    
.circle.sm {
    width: 30px;
    height: 30px;
}
    
.circle.md {
    width: 60px;
    height: 60px;
}
    
.circle.lg {
    width: 90px;
    height: 90px;
}

#work {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url('./assets/img/work-bg-06.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#work:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: theme('colors.theme-dark-200');
    opacity: 0.9;
}

#work a .line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#work {
    padding: 100px 30px;
    height: 100% !important;
}

#work .project-content, #work .carousel {
    height: 100% !important;
}

#carousel .card {
    position: relative;
    margin: 50px auto;
    width: 400px !important;
    padding: 20px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 0;
}

#carousel .card .deco {
      border-radius: 3px;
      width: 100px;
      height: 100px;
      background: black;
      position: absolute;
      right: 0px;
      top: 0;
      background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
      border-bottom-left-radius: 170px;
  }

  #carousel .card .content {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
  }

  #carousel .card h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0;
}

#carousel .card h2 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 300;
}

#carousel .card .social {
      margin-bottom: 5px;
  }

#carousel .card .social a {
    text-decoration: none !important;
    color: black;
    margin-left: 8px;
    font-weight: 300;
}

#carousel .card .social a i {
    font-weight: 400;
}

#carousel .card .location {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#carousel .card .location i {
    color: red;
}

#carousel .card .location p {
    font-weight: 300;
}


    
#contact {
position: relative;
}
#contact h2 {text-align: left; font-size: 60px; margin-bottom: 60px;}
#contact .content > p {font-size: 28px;}
#contact ul {margin-top: 80px; overflow: hidden;}
#contact ul li {padding: 0 40px 0 0; float: left; }
#contact ul li p {text-transform: uppercase; font-size: 14px; font-weight: 700; }
#contact ul li a { display: inline-block; margin: 5px 0 5px 0; font-size: 16px; border-bottom: 1px dotted #000000;}
footer {position: absolute; height: 60px; font-size: 11px; width: 100%; text-align: center; left:0; bottom: 0; color:#000000; line-height: 150%;}


.js .loaded .right-nav {
opacity: 1;
}

.js.csstransitions .right-nav {
opacity: 0;
-webkit-transition: opacity 0.5s linear 1s;
-moz-transition: opacity 0.5s linear 1s;
-o-transition: opacity 0.5s linear 1s;
transition: opacity 0.5s linear 1s;
}

.white, 
a.white, 
nav.white a {
color: #fff;
}

.black, 
a.black, 
nav.black a {
color: #000;
}



.right-nav {
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
}

#contact .right-nav {
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}

.right-nav {
overflow: hidden;
width: 250px;
position: absolute;
display: flex;
align-items: center;
right: 0;
bottom: 200px;
text-transform: uppercase;
font-size: 11px;
z-index: 100;
cursor: pointer;
}

.right-nav p, 
.right-nav .svg-icon {
padding: 5px;
}


#contact .right-nav p, 
#contact .right-nav .svg-icon {
padding: 15px;
}

.right-nav .svg-icon{
-webkit-animation: arrow  1s linear infinite alternate;
-moz-animation: arrow  1s linear infinite alternate;
animation: arrow  1s linear infinite alternate;
}

@keyframes arrow {
0% {transform: translateX(0px); opacity: 0;}
100% {transform: translateX(15px); opacity: 1;}
}


/* Skills */

.skillsContainer {
position: relative;
top: -120px;
right: 0;
}

#techList {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 90%;
    text-transform: uppercase;
    color: theme('colors.theme-dark-200');
}

@media (max-width: 1024px) {
    .skillsContainer {
        top: 0;
    }

    #techList {
        font-size: 50%;
    }
}

#techList li {
    position: absolute;
    top: 0;
    left: 0;
}

.react {
    font-weight: 700;
    letter-spacing: -.05em;
    -webkit-transform: 
        scale(7.9, 7.8)
        translate(1.07em, .68em);
    -moz-transform: 
        scale(7.9, 7.8)
        translate(1.07em, .68em);
}

.javascript {
    letter-spacing: -.04em;
    font-weight: 400;
    -webkit-transform: 
        scale(1.4)
        rotate(90deg)
        translate(3.88em, -13.2em);
    -moz-transform: 
        scale(1.4)
        rotate(90deg)
        translate(3.88em, -13.2em);
}

.accessibility {
    letter-spacing: -.05em;
    font-weight: 300;
    -webkit-transform:
        scale(1.4, 1.33)
        rotate(90deg)
        translate(4.1em, -18.0em);
    -moz-transform: 
        scale(1.4, 1.33)
        rotate(90deg)
        translate(4.1em, -18.0em);
}

.responsive {
    font-weight: 300;
    letter-spacing: -.03em;
    word-spacing: .3em;
    -webkit-transform: 
        scale(2.6, 1.95)
        translate(1.51em, 5.14em);
    -moz-transform: 
        scale(2.6, 1.95)
        translate(1.51em, 5.14em);
}

.api {
    font-weight: 700;
    letter-spacing: -.03em;
    word-spacing: .3em;
    -webkit-transform: 
        scale(2)
        translate(7.01em, 5.14em);
    -moz-transform: 
        scale(2)
        translate(7.01em, 5.14em);
}

.usability {
    font-weight: 400;
    letter-spacing: -.04em;
    -webkit-transform: 
        scale(2.85, 3)
        translate(7.14em, 3.55em);
    -moz-transform: 
        scale(2.85, 3)
        translate(7.14em, 3.55em);
}

.ajax {
    letter-spacing: -0.01em;
    font-weight: 500;
    -webkit-transform: 
        scale(2.4, 2.3)
        rotate(90deg)
        translate(6em, -5.8em);
    -moz-transform: 
        scale(2.4, 2.3)
        rotate(90deg)
        translate(6em, -5.8em);
}

.git {
    color: theme('colors.pink.600');
    letter-spacing: -0.01em;
    font-weight: 700;
    -webkit-transform: 
        scale(2.4, 2.3)
        rotate(90deg)
        translate(6.4em, -0.5em);
    -moz-transform: 
        scale(2.4, 2.3)
        rotate(90deg)
        translate(6.4em, -0.5em);
}

.css3 {
    letter-spacing: .01em;
    font-weight: 700;
    -webkit-transform: 
        scale(6.8, 6.75)
        rotate(90deg)
        translate(1.32em, -4.54em);
    -moz-transform: 
        scale(6.8, 6.75)
        rotate(90deg)
        translate(1.32em, -4.54em);
}

.jquery {
    letter-spacing: 0.045em;
    font-weight: 700;
    -webkit-transform: 
        scale(3.88, 3.8)
        translate(5.42em, 3.72em);
    -moz-transform: 
        scale(3.88, 3.8)
        translate(5.42em, 3.72em);
}

.styledcomponent {
    font-weight: 700;
    letter-spacing: -.010em;
    width: max-content;
    -webkit-transform: 
        scale(1.55, 1.87)
        translate(1.86em, 6.5em);
    -moz-transform: 
        scale(1.55, 1.87)
        translate(1.86em, 6.5em);
}

.typescript {
    font-weight: 300;
    letter-spacing: -0.05em;
    -webkit-transform: 
        scale(2.3, 3) 
        translate(2.64em, 4.95em);
    -moz-transform: 
        scale(2.3, 3) 
        translate(2.64em, 4.95em);
}

.seo {
    font-weight: 300;
    letter-spacing: -0.07em;
    -webkit-transform: 
        scale(3.9, 4)
        translate(6.05em, .95em);
    -moz-transform: 
        scale(3.9, 4)
        translate(6.05em, .95em);
}

.nextjs {
    font-weight: 700;
    letter-spacing: 0.1em;
    word-spacing: .2em;
    -webkit-transform: 
        scale(2)
        translate(1.18em, 8.58em);
    -moz-transform: 
        scale(2)
        translate(1.18em, 8.58em);
}

.webstandards  {
    font-weight: 300;
    letter-spacing: 0.1em;
    word-spacing: .2em;
    width: max-content;
    -webkit-transform: 
        scale(2)
        translate(7.5em, 8.58em);
    -moz-transform: 
        scale(2)
        translate(7.5em, 8.58em);
}

.redux {
    font-weight: 500;
    letter-spacing: 0em;
    word-spacing: .1em;
    -webkit-transform: 
        scale(2)
        translate(15.35em, 8.6em);
    -moz-transform: 
        scale(2)
        translate(15.35em, 8.6em);
}

.jg {
    color: theme('colors.pink.600');
    font-weight: 700;
    letter-spacing: -.03em;
    -webkit-transform: 
        scale(3.4)
        translate(7.03em, 2.15em);
    -moz-transform: 
        scale(3.4)
        translate(7.03em, 2.15em);
}

.skills {
    color: theme('colors.pink.600');
    font-weight: 700;
    letter-spacing: -.03em;
    -webkit-transform: 
        translate(0.8em, .68em);
    -moz-transform: 
        translate(0.8em, .68em);
}

}
 